
<link rel="stylesheet" href="/css/header.css">
<header>

    
      <div id="logo">

          <img src="/imeges/logo.png" alt="logo">

      </div>

      <div id="search-bar">

          <i class="fas fa-search"></i>
          <input type="search"  placeholder="Search For Products , Brands and More">

      </div>

     
      <div id="nav-bar">
          
            <ul>

                <li class="user-btn">
                    <a href="user/login">
                        <i class="fas fa-user"></i>
                        <span>Login</span>
                    </a>
                    <ul class="user-btn-menu">
                          <li>
                             <div>
                                 <a href="">New Customer?</a>
                                 <a href="">Sign Up</a>
                             </div>
                          </li>
                          <hr>
                          <li>
                             <a href="">User Profile</a>
                          </li>
                          <li>
                            <a href="">Orders</a>
                        </li>
                    </ul>
                </li>
    
                <li>
                    <a href="">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Cart</span></a>
                </li>
    
                <li>
                    <a href="">
                        <i class="fas fa-store"></i>
                    <span> Seller</span>
                    </a>
                </li>

                <li>
                    <i class="fas fa-ellipsis-v"></i>
                </li>
    
            </ul>

      </div>

</header>