
<link rel="stylesheet" href="/css/header.css">
<header>

    
      <div id="logo">

          <img src="/imeges/logo.png" alt="logo">

      </div>

      <div id="search-bar">

          <input type="search"  placeholder="Search For Products , Brands and More">

      </div>

     
      <div id="nav-bar">
          
            <ul>

                <li>
                    Account
                </li>
    
                <li>
                    <a href="">Cart</a>
                </li>
    
                <li>
                    <a href="">Become Seller</a>
                </li>
    
            </ul>

      </div>

</header>