
<div>
       
         <div>
                <h1>Login</h1>
                 <p>Get access to your orders  , WishList and Recommendations</p>
         </div>

        <div>
                <form action="" method="post">
                        <input type="email" name="email" id="email" placeholder="Enter Your email ">
                        <br>
                        <input type="password" name="password" id="password" placeholder="enter password">
                        <br>
                        <button type="submit">Login</button>
                 </form>
        </div>
       
</div>

