
<link rel="stylesheet" href="/css/loginPage.css">
<div id="login">
       
         <div id="login-container">
                <div id="login-details">
                        <h1>Login</h1>
                        <p>Get access to your orders,<br>WishList and Recommendations</p>
                </div>
                 
                 <div id="login-form">

                       <div id="form">
                                <form action="" method="post">
                                        <input type="email" name="email" id="email" placeholder="Enter Your email ">
                                        <br>
                                        <input type="password" name="password" id="password" placeholder="enter password">
                                        <br>
                                        <p>By continuing, you agree to Flipkart's <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
                                        <button type="submit">Login</button>
                                </form>
                        </div> 
                
                        <div id="new-user">
                                <a href="">New to Filpkart? Create an Account</a>
                        </div>

                </div>
                 
         </div>
       
</div>

