
header{
   
     height: 60px;
     width: 100%;
     border-bottom: 1px solid black;
     display: flex;
     align-items: center;
}

#logo{
    
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    margin: 2px;
    margin-left: 35px;

}

#logo img{   
    height: 160px;
    width: 200px;
}

#search-bar{
    
     /* border: 2px solid red; */
     height: 50px;
     width: 510px;
     margin-left: -60px;
}

#search-bar input{
    
    height: 38px;
    width: 98%;
    margin: 1.5%;
    background-color: aliceblue;
    border-color: transparent;
    border-radius: 12px;
    text-align: left;
    font-size: 17px;
}

#nav-bar{
     width: 450px;
     height: 60px;
     border: 1px solid red;
     margin-left: 20px;
}

#nav-bar ul{
     
     display: flex;
     justify-content: space-around;
     align-items: center;

}

#nav-bar ul li{
      list-style: none;
      font-size: 20px;
}
#nav-bar ul li a{
     
  text-decoration: none;
}