
header{
   
     height: 60px;
     width: 100%;
     border-bottom: 1px solid black;
     display: flex;
     align-items: center;
}

#logo{
    
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    margin: 2px;
    margin-left: 35px;

}

#logo img{   
    height: 160px;
    width: 200px;
}

#search-bar{
    
     /* border: 2px solid red; */
     height: 50px;
     width: 510px;
     margin-left: -60px;
     display: flex;
}

#search-bar input{
    
    
    height: 38px;
    width: 95%;
    margin: 1.5%;
    background-color: aliceblue;
    border-color: transparent;
    border-radius: 12px;
    text-align: center;
    font-size: 17px;
    margin-left: px;
    padding: 10px;
}

#search-bar i{
     
      position: absolute;
      font-size: 22px;
      color: gray;
      margin-top: 16px;
      margin-left: 20px;
}

#nav-bar{
     width: 450px;
     height: 60px;
     /* border: 1px solid red; */
     margin-left: 20px;
}

#nav-bar ul{
     
     display: flex;
     justify-content: space-around;
     align-items: center;

}

#nav-bar ul li{
      list-style: none;
      font-size: 20px;
}
#nav-bar ul li a{    
  text-decoration: none;
}
#nav-bar ul li .user-btn-menu{

      display: none;
      position: absolute;
      background: #ffff;
      height: 200px;
      width: 200px;
      border: 1px solid #cccc;
      margin: 0px;
      margin-top: 42px;
      padding: 10px;
      box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}
#nav-bar ul li:hover .user-btn-menu{
     
     display: block;

}
.user-btn {
      /* border: 2px solid red; */
      width: 100px;
      height: 40px;
      text-align: center;    
      display: flex; 
}
 
/* require  to  handle the hover effect of this  */
.user-btn  a{
      
     margin-top: 7px;
     margin-left: 18px;
     color: rgb(22, 18, 18);

}
.user-btn-menu a{
      font-size: 18px;
}